@tailwind base;
@tailwind components;
@tailwind utilities;

.bgcolorSS{
    background: #37515F;
}

.bgcolorSS2{
    background: #253741;
}
.whiteSS{
    
    color: #f1faee;
}
.redSS{
    color: #e63946;
}

.bgcolorSStext{
    background: #37515F;
    color: #37515F;
}
.whitebg{
    background: #f1faee;
}